<div ng-class="{ 'bg-danger' : $ctrl.employee.hours_worked > 32,  }"
     class="bg-info">
	{{ $ctrl.employee.last_name }}, {{ $ctrl.employee.first_name | checkmark }}
	<div ng-show="{{ ( $ctrl.employee.hourly_wage > 17 ) }}">
		{{  $ctrl.employee.email }}
	</div>
</div>