Name: <input ng-model="fec.query.name">
<br/>
Sides: <input ng-model="fec.query.sides">

<hr/>

<abc-display shapes="fec.shapes" search-terms="fec.query" hello="fec.mySayHiFunction()"></abc-display>

<pre>{{ fec.shapes | filter:fec.query | json | uppercase }}</pre>
