<!DOCTYPE html>
<html lang="en" ng-app="abcModule">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
	<script src="../lib/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="employees/employees.js"></script>
</head>
<body>
	<div>Is Angular Working? {{ 1 + 2 }}</div>
	<div class="panel-body">
		<abc-search></abc-search>
	</div>
</body>
</html>